/* Main Color Palette

Main color #ED9121
secondary #82CAFF
tertiary #52528C
quaternary #0C090D
quinary #EAF8BF

background #000000c2

*/

.CoMe h2 {
    font-size: 2.5rem;
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    color: #EAF8BF;
    text-shadow: 2px 2px 4px #ED9121;
    text-align: center;
}

.CoMe p {
    font-size: 1.5rem;
    color: #82CAFF;
    text-shadow: 2px 2px 4px #52528C;
    width: 65%;
    margin: 1rem auto;
    text-align: center;
    line-height: 1.6;
}

.contactList {
    list-style-type: none;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    color: #82CAFF;
    text-shadow: 2px 2px 4px #52528C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactList li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #0C090D;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #ED9121;
    flex: 1 1 auto;
    max-width: 275px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactList li:hover {
    background-color: #82CAFF;
    color: #0C090D;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    transform: scale(1.1);
    box-shadow: 4px 4px 8px #ED9121;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactList li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.contactList li a:hover {
    text-decoration: underline;
    color: #EAF8BF;
    text-shadow: 2px 2px 4px orange;
    transition: text-decoration 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.socials {
    list-style-type: none;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socials li {
    flex: 1 1 auto;
    max-width: 275px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li img, .twitch img {
    box-shadow: 2px 2px 6px #ED9121;
    transition: box-shadow 0.3s ease;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 1rem auto;
    display: block;
}

.socials li img:hover {
    box-shadow: 4px 4px 12px #82CAFF;
    transition: box-shadow 0.3s ease;
    transform: scale(1.1);
}

.row{
    --bs-gutter-x: 0rem;
}

@media (max-width: 768px) {
    .CoMe ul {
        flex-direction: column;
        align-items: center;
    }

    .CoMe ul li {
        max-width: 100%;
    }

    .CoMe .row {
        flex-direction: column;
        align-items: center;
    }

    .CoMe .row .col-4 {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .socials img {
        max-width: 100%;
        height: auto;
    }

    nav {
        width: 100%;
    }

    .menuOffPage ul {
        padding: 0;
        margin: 0;
    }
    .twitch {
        max-width: 80%;
        margin: 0 auto;
        width: auto;
    }
}