/* Main Color Palette

Main color #ED9121
secondary #82CAFF
tertiary #38686A
quaternary #0C090D
quinary #EAF8BF

background #000000c2

*/

#Content {
    text-align: center;
}

#Content h2 {
    font-size: 2.5rem;
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    color: #EAF8BF;
    text-shadow: 2px 2px 4px #ED9121;
}

#Content p {
    font-size: 1.5rem;
    color: #38686A;
    text-shadow: 2px 2px 4px #EAF8BF;
    width: 65%;
    margin: 1rem auto;
}

#Updates {
    text-align: center;
}

#Updates h2 {
    font-size: 2.5rem;
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    color: #EAF8BF;
    text-shadow: 2px 2px 4px #ED9121;
}

#Updates p {
    font-size: 1.5rem;
    color: #38686A;
    text-shadow: 2px 2px 4px #EAF8BF;
    width: 65%;
    margin: 1rem auto;
}

#Updates img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 1rem auto;
    border-radius: 10px;
}

#UpdateLink {
    background-color: #ED9121;
    border-radius: 10px;
    color: #0C090D;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
}

#UpdateLink:hover {
    background-color: #82CAFF;
    color: #EAF8BF;
    text-shadow: 2px 2px 4px orange;
    transition: background-color 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
    border-radius: 5px;
    text-decoration: underline;
}