html{
    max-height: 100%;
    max-width: 100%;
}
body {
    background-image: url('../images/orangecubicBG.jpg');
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

hr{
    border: 3px dashed orange;
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 2px 2px 4px skyblue;
}

#pageContainer {
    width: 80%;
    background-color: #000000c2;
}

#pageHeader h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: orange;
    margin: auto;
    text-shadow: 2px 2px 4px skyblue;
}

nav{
    padding: 1rem;
    display: flex;
    background-color: #000000c2;
}

#navigation {
    display: flex;
    justify-content: center;
    padding: 0;
}

#navigation li {
    list-style-type: none;
    padding: 0;
}

#navigation a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: orange;
    padding: 10px 20px;
    display: block;
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

#navigation a:hover {
    color: skyblue;
    text-shadow: 2px 2px 4px orange;
}

#Content {
    text-align: center;
}

#Content h2 {
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: orange;
    text-shadow: 2px 2px 4px skyblue;
}

#Content p {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px 4px skyblue;
    width: 65%;
    margin: 1rem auto;
}

#descimg {
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
    width: 25%;
    height: auto;
}

#Temporary {
    text-align: center;
}

#Temporary a{
    text-decoration: none;
}
#Temporary a:hover {
    color: skyblue;
    text-shadow: 2px 2px 4px orange;
    text-decoration: underline;
}

#YoutubeLink h2 {
    padding: 0.5rem 0;
    font-size: 2rem;
    color: orange;
}
#email h3 {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    color: orange;
}

.menuOffPage {
    background-color: #000000c2;
    width: 100%;
    position: fixed;
    top: -50%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    transition: 0.5s ease;
}
.menuOffPage.active{
    top: 0;
}

.menuIcon{
    height: 50px;
    width: 50px;
    position: relative;
}

.headerFix{
    height: 50px;
    width: 50px;
    position: relative;
}

.menuIcon span {
    height: 5px;
    width: 100%;
    background-color: orange;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}
.menuIcon span:nth-child(1) {
    top: 25%;
}
.menuIcon span:nth-child(3) {
    top: 75%;
}
.menuIcon.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.menuIcon.active span:nth-child(2) {
    opacity: 0;
}
.menuIcon.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
