/* Main Color Palette

Main color #ED9121
secondary #82CAFF
tertiary #52528C
quaternary #0C090D
quinary #EAF8BF

background #000000c2

*/
html {
    max-height: 100%;
    max-width: 100%;
}

body {
    background-image: url('../images/orangecubicBG.jpg');
    color: #82CAFF;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.5rem;
    background-attachment: fixed;
    background-size: auto; /* Ensure the image repeats */
    background-repeat: repeat;
    background-position: 0 0;
    overflow-x: hidden; /* Prevent horizontal scroll due to parallax */
}

/* HR rules */

hr {
    border: 3px dashed #52528C;
    width: 75%;
    margin: 1rem auto;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #ED9121;
    opacity: 1;
}

/* Menu Stuff */

#pageContainer {
    width: 100%;
    background-color: #000000c2;
    padding-bottom: 0.5rem;
}

#liveBanner{
    display: none;
    background-color: #ed912181;
}
#liveBanner.active{
    display: block;
}

#pageHeader h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    color: #ED9121;
    margin: auto;
    padding-left: 2.5rem;
    text-shadow: 2px 2px 4px #82CAFF;
}

/* Desktop Nav */

nav {
    padding: 0.75rem;
    display: flex;
    background-color: #000000c2;
}

#navigation {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0;
}

#navigation li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navigation a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ED9121;
    padding: 10px 20px;
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

#navigation a:hover {
    color: #82CAFF;
    text-shadow: 2px 2px 4px #ED9121;
}

.headerFix {
    height: 50px;
    width: 50px;
    position: relative;
}

.menuOffPage {
    background-color: #000000;
    width: 100%;
    position: fixed;
    top: -25%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    transition: 0.5s ease;
}

.menuOffPage.active {
    top: 0;
}

.menuIcon {
    height: 50px;
    width: 50px;
    position: fixed;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuIcon span {
    height: 5px;
    width: 100%;
    background-color: #ED9121;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

.menuIcon span:nth-child(1) {
    top: 25%;
}

.menuIcon span:nth-child(3) {
    top: 75%;
}

.liveBannerText{
    color: rgb(0, 120, 175);
    font-size: 1.5rem;
    text-shadow: 1px 1px 4px black;
    animation-name: bannerL2R;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.colorShift {
    animation: colorShiftText 3s infinite alternate;
}

@keyframes colorShiftText {
    from {
        color: rgb(0, 120, 175);
    }
    to{
        color: #bd0000;
    }
}

@keyframes bannerL2R{
    from {
        transform: translateX(-55%);
    }
    to {
        transform: translate(100%);
    }
}

/* Mobile Nav */

@media (max-width: 768px) {
    #pageContainer {
        width: 100%;
    }

    #navigation {
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.5s ease, opacity 0.5s ease;
        flex-direction: column; 
        background-color: #000000;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 999;
    }

    #navigation.active {
        opacity: 1;
        transform: translateY(0);
    }

    #navigation li {
        margin: 10px 0;
    }

    .menuOffPage {
        width: 100%;
    }

    .menuOffPage.active {
        width: 100%;
    }

    .menuIcon {
        display: block; 
    }
}