/* Projects Page Specific Rules */
iframe {
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
}

.TSBGallery {
    display: none;
    position: relative;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin: 1rem 0;
}

.TSBGallery.active {
    display: block;
    opacity: 1;
}

.gameDL {
    background-color: #0c090d;
    border-radius: 10px;
}

.DL {
    margin: auto;
}

#Portfolio {
    text-align: center;
    padding: 1rem 0;
}

#Portfolio h2 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Unbounded', sans-serif;
    color: #eaf8bf;
    text-shadow: 2px 2px 4px #ED9121;
}

#Portfolio h3 {
    font-size: 2rem;
    color: #eaf8bf;
    text-shadow: 2px 2px 4px #ED9121;
}

#Portfolio p {
    font-size: 1.5rem;
    color: #82CAFF;
    text-shadow: 2px 2px 4px #52528C;
    width: 65%;
    margin: 1rem auto;
}

.example p {
    width: 65%;
    margin: 0 auto;
}

#desc h2 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Unbounded', sans-serif;
    color: #eaf8bf;
    text-shadow: 2px 2px 4px #ED9121;
    text-align: center;
}

#desc p {
    font-size: 1.5rem;
    color: #82CAFF;
    text-shadow: 2px 2px 4px #52528C;
    width: 65%;
    margin: 1rem auto;
}