/* Main Color Palette

Main color #ED9121
secondary #82CAFF
tertiary #52528C
quaternary #0C090D
quinary #EAF8BF

background #000000c2

*/

#Archive {
    text-align: center;
}

#Archive h2 {
    font-size: 2.5rem;
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    color: #eaf8bf;
    text-shadow: 2px 2px 4px #ED9121;
}

#Archive p {
    font-size: 1.5rem;
    color: #82CAFF;
    text-shadow: 2px 2px 4px #52528C;
    width: 65%;
    margin: 1rem auto;
}

#Archive img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 1rem auto;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #82CAFF;
}